[project]
	description = Jenkins selenium plugin
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mourasman
[access "refs/for/refs/*"]
	read = group user/mourasman
	push = group user/mourasman
	label-Code-Review = -2..+2 group user/mourasman
	label-Verified = -1..+1 group user/mourasman
	rebase = group user/mourasman
	removeReviewer = group user/mourasman
	submit = group user/mourasman
[access "refs/heads/*"]
	read = group user/mourasman
	create = group user/mourasman
	push = +force group user/mourasman
	pushMerge = group user/mourasman
[access "refs/tags/*"]
	push = +force group user/mourasman
	pushTag = group user/mourasman
	pushSignedTag = group user/mourasman
